{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body>
    {% block content %}
<h2>¿Seguro que quieres eliminar este reporte?</h2>
<p>ID: {{ object.id_reporte }}</p>
<p>Fecha: {{ object.fecha }}</p>
<p>Hora: {{ object.hora }}</p>
<p>Sesion Cuento ID: {{ object.sesion_cuento.id_sesion }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Sí, eliminar</button>
</form>
<a href="{% url 'lista_reporte_general' %}">Cancelar</a>
{% endblock %}
</body>
</html>



