
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body>
    {% block content %}
<h2>¿Seguro que quieres eliminar esta palabra?</h2>
<p>ID: {{ object.id_palabra }}</p>
<p>Descripción: {{ object.descripcion }}</p>
<p>Onda de voz: {{ object.onda_voz }}</p>
<p>Resultado esperado: {{ object.resultado_esperado }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Sí, eliminar</button>
</form>
<a href="{% url 'lista_palabra' %}">Cancelar</a>
{% endblock %}
</body>
</html>