{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body>
    {% block content %}
<h2>¿Seguro que quieres eliminar este pictograma?</h2>
<p>ID: {{ object.id_pictograma }}</p>
<p>Descripción: {{ object.descripcion }}</p>
<p>Tipo: {{ object.tipo }}</p>
<p>Tamaño: {{ object.tamaño }}</p>
<p>Cuento: {{ object.cuento.titulo }}</p>
<p>Palabra: {{ object.palabra.descripcion }}</p>
{% if object.imagen %}
    <img src="{{ object.imagen.url }}" width="100" />
{% endif %}

<form method="post">
    {% csrf_token %}
    <button type="submit">Sí, eliminar</button>
</form>
<a href="{% url 'lista_pictograma' %}">Cancelar</a>
{% endblock %}
</body>
</html>